version: "3.9"

services:
  app:
    build: .
    container_name: RuTok
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads
      - ./database.db:/app/database.db
